body {
    width: 100%;
    background-color: #121327;
}

.Header{
    height: 600px;
}

.Navigation{
    text-align: center;
}

.button-blue{
    color: white;
    font-size: 17px;
    background-color: #3498db;
    position: relative;
    border: none;
    border-radius: 2px;
    padding: 15px 30px 15px 30px;
    text-align: center;
}

.Searchbar{
    position: relative;
    top: 90px;
}

.main{
    height: 60%;
    text-align: center;
}

.main-text{
    color: white;
    font-size: 27px;
    font-weight: 800;
    text-align: center;
    position: relative;
    top: 200px;
}